# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Model dosyaları
*.h5
*.hdf5
*.pkl

# Veri seti
dataset/
*.jpg
*.jpeg
*.png
*.gif

# IDE
.vscode/
.idea/

# Sistem dosyaları
.DS_Store
Thumbs.db
